
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1170px;
}
.my-btn {
    padding: 12px 28px;
    background: #21B573;
    border-radius: 33px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
    border: none;
    margin-left: -15px;
    display: inline-block;
}
.my-btn2 {
        padding: 12px 36px;
        margin-top: 8px;
}
.text-orange {
    color: #FD511A;
}
.text-gray {
    color: #6C6B6B;
}
.text-green {
    color: #21b573;
}

/* navbar */
.main-menu {
    margin-bottom: 55px;
}
.navbar-brand img {
    width: 195px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: rgb(29 22 22);
    padding-right: 40px;
    font-weight: 500;
}

/* banner */
.banner-left {
    padding-right: 50px;
}
.banner-left h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 25px;
}
.banner-left p:not(:first-child) {
    line-height: 2.4;
}
.banner-right {
    padding-right: 65px;
}