
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1170px;
}
.my-btn {
    padding: 12px 28px;
    background: #21B573;
    border-radius: 33px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
    border: none;
    margin-left: -15px;
    display: inline-block;
}
a:hover {
    text-decoration: none;
    color: rgb(6, 7, 59);
}
.my-btn2 {
        padding: 12px 36px;
        margin-top: 8px;
}
.my-btn3 {
        padding: 8px 28px;
        margin-top: 8px;
}
.text-orange {
    color: #FD511A;
}
.text-gray {
    color: #6C6B6B;
}
.text-green {
    color: #21b573;
}
.heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
   
}
/* header */
header {
    background: #F0FFF0;
    padding-bottom: 50px;
}
.main-menu {
    margin-bottom: 55px;
}
.navbar-brand img {
    width: 195px;   
    margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: rgb(29 22 22);
    padding-right: 35px;
    font-weight: 500;
}

/* banner */
.banner-left {
    padding-left: 50px;
}
.banner-left h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 25px;
}
.banner-left p:not(:first-child) {
    line-height: 2.4;
}
.banner-right {
    padding: 0 30px 0 30px;
}

/* about-area */
#about-area {
    padding: 30px 0;
}
.single-about-box {
    text-align: center;
    padding: 40px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.single-about-box img {
    width: 78px;
    margin-bottom: 40px;
}
.single-about-box img.topic-img {
    width: 61px;
}
.single-about-box h5 {
    color: #413960;
    font-size: 24px;
}
.single-about-box:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
/* course area */
.card {
    padding: 20px;
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card h5 {
    font-size: 24px;
    color: #413960;
}
.card p {
    color: #585859;
}
.card-footer-area {
    font-weight: 500;
    font-size: 16px;
    color: #585859;
}
/* testimonial */

.single-testimonial p {
    font-weight: 500;
    line-height: 2;
    padding-top: 12px;
}
footer {
    background: #282531;
    color: white;
    padding: 60px 0 30px;
}
footer h2 {
    font-weight: bold;
    font-size: 16px;
    font-size: 18px;
}
footer p {
    font-weight: 300;
    padding-right: 65px;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li a {
    color: white;
    font-weight: 300;
    line-height: 30px;
}  
.copyright p {
    font-weight: 300;
    margin-left: 37%;
    margin-top: 55px;
}