
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1170px;
}

.my-btn {
    padding: 12px 28px;
    background: #21B573;
    border-radius: 33px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
    margin: 10px 0px;
    border: none;
}
.my-btn2 {
        padding: 12px 36px;
}